body {
    background-color: hsl(30, 38%, 92%);
}



#top-sec {
    display: flex;
    margin: 20px 10px 0 10px;
    
}

#top-sec img {
    width: 100%;
}

#bottom-sec {
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
    margin:  0 10px 20px 10px;
    padding-left: 15px;
}

#price {
    display: flex;
    flex-direction: row;
}

#discount-price {
    padding-left: 15px;
}

@media (vw)